<h2 mat-dialog-title>{{ tituloAccion }} Empleado</h2>

<mat-dialog-content>
    <form [formGroup]="formularioEmpleado">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Código Empleado</mat-label>
                    <input matInput pattern="[0-9]*" autocomplete="off" formControlName="codigoEmpleado">       
                </mat-form-field>
            </mat-grid-tile>       
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="nombre"
                    (input)="convertirAMayusculas('nombre')">       
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Puesto</mat-label>
                    <input matInput autocomplete="off" formControlName="puesto"
                        (input)="convertirAMayusculas('puesto')">       
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary"
        [disabled]="formularioEmpleado.invalid"
        (click)="guardarOEditar()"
    >{{ botonAccion }}</button>
</mat-dialog-actions>
